aug_venv/
.py*
*.pth
.env
basketball*/
output/
darkenv/
google-cloud-sdk/
earlytestingcode/
cocodataForRFDetr/
cocodataset/
problemone/
reindexcoco/
Documentation/
reindex.py
coconew/
cocodataForRFDetr
rf_detr/
YolovcocoDataset/
cameronfile/
coco_minitrain_25k/
modifieddataset/
runs/
yolo11n.pt
yolovcode/
