aug_venv/
.py*
*.pth
.env
basketball*/
output/
darkenv/
google-cloud-sdk/
earlytestingcode/
cocodataForRFDetr/
cocodataset/
problemone/
reindexcoco/
Documentation/
reindex.py
coconew/
cocodataForRFDetr
rf_detr/
YolovcocoDataset/
cameronfile/
coco_minitrain_25k/
modifieddataset/
yolo11n.pt
yolovcode/
lostdataset/
lostrunexperiment.py
losttrainyolov.py
mirrorruns/
Documentation/
lost_aug_dataset.py
run_baseline.py
base_run/
yolo_aug.py